<article class="main-banner">
	<div class="quote"><div>
		Слоган компании, типа:<br/>Мы такие классные!
	</div></div><!--.quote-->
</article><!--.main-banner-->

<%= render 'shared/banners' %>

<section>
	<div class="wrapper">
	    <div class="wrapper-inner">
			<header class="title-section"><div>
				<h2>Наши услуги</h2>
			</div></header><!--.title-section-->
		</div><!--.wrapper-inner-->

		<div class="services-grid">
		    <div class="col"><div>
		        <article class="service-card">
		            <a href="#">
						<span class="photo">
							<img src="http://placehold.it/370x210">
						</span>
				        <span class="caption"><span>
					        <span class="line-top">
						        <span class="line-bottom">
							        Квартирный переезд
						        </span>
					        </span>
				        </span></span><!--.caption-->
		            </a>
		        </article><!--.service-card-->
		    </div></div><!--.col-->

		    <div class="col"><div>
		        <article class="service-card">
		            <a href="#">
						<span class="photo">
							<img src="http://placehold.it/370x210">
						</span>
				        <span class="caption"><span>
					        <span class="line-top">
						        <span class="line-bottom">
							        Офисный переезд
						        </span>
					        </span>
				        </span></span><!--.caption-->
		            </a>
		        </article><!--.service-card-->
		    </div></div><!--.col-->

		    <div class="col"><div>
		        <article class="service-card">
		            <a href="#">
						<span class="photo">
							<img src="http://placehold.it/370x210">
						</span>
				        <span class="caption"><span>
					        <span class="line-top">
						        <span class="line-bottom">
							        Грузовые перевозки
						        </span>
					        </span>
				        </span></span><!--.caption-->
		            </a>
		        </article><!--.service-card-->
		    </div></div><!--.col-->
		</div><!--.services-grid-->

		<div class="wrapper-inner">
			<div class="center-btn"><a href="#" class="btn">Все услуги</a></div>
		</div><!--.wrapper-inner-->
	</div><!--.wrapper-->
</section>

