<header class="title-page">
	<h1>Наши услуги</h1>
</header><!--.title-page-->

<nav class="crumbs">
	<div class="wrapper">
		<div class="wrapper-inner">
		    <a href="/">Главная</a> &nbsp;&raquo;&nbsp;
		    Услуги
		</div><!--.wrapper-inner-->
	</div><!--.wrapper-->
</nav><!--.crumbs-->

<div class="wrapper">
	<section class="services-grid">
	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Квартирный переезд
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Офисный переезд
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Грузовые перевозки
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Грузчики
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Сборка и разборка мебели
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Утилизация мебели
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Утилизация бытовой техники
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->

	    <div class="col"><div>
	        <article class="service-card">
	            <a href="#">
					<span class="photo">
						<img src="http://placehold.it/370x210">
					</span>
			        <span class="caption"><span>
				        <span class="line-top">
					        <span class="line-bottom">
						        Упаковка для переезда
					        </span>
				        </span>
			        </span></span><!--.caption-->
	            </a>
	        </article><!--.service-card-->
	    </div></div><!--.col-->
	</section><!--.services-grid-->
</div><!--.wrapper-->

<div class="before-footer">
	<%= render 'shared/banners' %>
</div><!--.before-footer-->