<section class="advantages-banners">
    <div class="wrapper">
        <div class="wrapper-inner">
            <article class="ban"><div>
                <div class="icon">
                    <img src="../img/ban-hourglass.png">
                </div><!--.icon-->
                <header class="caption">Своевременная подача транспорта</header>
            </div></article><!--.ban-->

            <article class="ban"><div>
                <div class="icon">
                    <img src="../img/ban-okey.png">
                </div><!--.icon-->
                <header class="caption">Четкий и грамоттный подход к организации перевозки</header>
            </div></article><!--.ban-->

            <div class="temp-clear"></div>

            <article class="ban"><div>
                <div class="icon">
                    <img src="../img/ban-clock.png">
                </div><!--.icon-->
                <header class="caption">Предоставление услу круглосуточно, без выходных</header>
            </div></article><!--.ban-->

            <article class="ban"><div>
                <div class="icon">
                    <img src="../img/ban-money.png">
                </div><!--.icon-->
                <header class="caption">Доступные цены</header>
            </div></article><!--.ban-->
        </div><!--.wrapper-inner-->
    </div><!--.wrapper-->
</section><!--.advantages-banners-->
