<footer class="site-footer">
	<div class="wrapper">
		<div class="wrapper-inner">
			<div class="social">
				<a href="#">
					<img src="../img/vk.png">
				</a>
			</div><!--.social-->
			<p class="copy">АраванаТранс &copy; 2014</p>
			<nav class="footer-menu">
				<ul>
				    <li><a href="#" class="active">Главная</a></li>
				    <li><a href="#">Услуги</a></li>
				    <li><a href="#">Цены</a></li>
				    <li><a href="#">Статьи</a></li>
				    <li><a href="#">Контакты</a></li>
				</ul>
			</nav><!--.footer-menu-->
		</div><!--.wrapper-inner-->
	</div><!--.wrapper-->
</footer><!--.site-footer-->