<header class="site-header">
	<div class="wrapper">
		<div class="wrapper-inner">
		    <h1 class="logo"><a href="/">АраванаТранс</a></h1>
			<div class="phone">+7 910-123-45-67</div>
		    <nav class="main-menu">
		        <ul>
		            <li><a href="#" class="active"><span class="line"></span>Главная</a></li>
		            <li><a href="#"><span class="line"></span>Услуги</a></li>
		            <li><a href="#"><span class="line"></span>Цены</a></li>
		            <li><a href="#"><span class="line"></span>Статьи</a></li>
		            <li><a href="#"><span class="line"></span>Контакты</a></li>
		        </ul>
		    </nav><!--.main-menu-->
		</div><!--.wrapper-inner-->
	</div><!--.wrapper-->
</header><!--.site-header-->