/* ==========================================================================
   Forms
   ========================================================================== */
  
.typical-form {}

input[placeholder], [placeholder], *[placeholder] {	color: #666; }
::-webkit-input-placeholder { color: #666; }
::-moz-placeholder { color: #666; opacity: 1 !important; }
:-moz-placeholder { color: #666; opacity: 1 !important; }
::-moz-placeholder { color: #666; }
:-ms-input-placeholder { color: #666; }

