@import "normalize", "variables", "mixins", "optionated", "helper";
@import "typography", "forms", "partials";
@import "jquery.bxslider";

/* ==========================================================================
   Base
   ========================================================================== */

body { background: #f4f4f4 url(../img/bg.png); }

.wrapper-out { overflow: hidden; min-width: 300px; min-height: 100%; position: relative; }
.wrapper { max-width: 1200px; margin: 0px auto; @include clearfix; }
.wrapper-inner { padding: 0px 15px; @include clearfix; }


/* ==========================================================================
   Header
   ========================================================================== */

.site-header { height: 99px; background-color: rgba(0,0,0,0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); left: 0; position: fixed; top: 0; width: 100%; 	z-index: 120; @include box-shadow(0px 0px 8px rgba(0, 0, 0, 0.2) inset); @include transition(all 0.4s ease-in-out 0s);
	.logo { float: left; line-height: 99px; font-weight: normal; font-family: $lora; font-size: 2.5em /*30/12*/; font-style: italic; text-shadow: 1px 1px rgba(0,0,0,0.5), 3px 3px 5px rgba(0,0,0,0.5); @include transition(all 0.4s ease-in-out 0s);
		a { text-decoration: none; color: #fff; }
	}
	.phone { margin: 0px 0px 0px 2em; float: left; color: #fff; line-height: 99px; font-family: $lora; font-size: 1.666667em /*20/12*/; font-style: italic; text-shadow: 1px 1px rgba(0,0,0,0.5), 3px 3px 5px rgba(0,0,0,0.5); @include transition(all 0.4s ease-in-out 0s); }
	.main-menu { float: right; font-size: 1.166667em /*14/12*/;
		ul { @include clearfix; }
		li { float: left; margin: 0px 0px 0px 2px; }
		a { float: left; padding: 0px 22px; line-height: 98px; height: 99px; text-decoration: none; color: #fff; text-shadow: 0px 1px rgba(0,0,0,0.3); position: relative; @include transition(all 0.4s ease-in-out 0s);
			&.active .line,
			&:hover .line { background: #fff; }
		}
		.line { display: block; width: 100%; height: 2px; overflow: hidden; position: absolute; left: 0px; top: 0px; @include transition(all 0.4s ease-in-out 0s); }
	}

}
@media only screen and (min-width: 960px) {
	.site-header.fixed { height: 60px; background-color: rgba(0,0,0,0.9);
		.logo, .phone { line-height: 60px; }
		.main-menu {
			a { height: 60px; line-height: 60px; }
		}
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer { line-height: 50px; background: #3f3f3f url(../img/dark-bg.png); color: #999; margin: 5em 0px 0px;
	a { color: #999; text-decoration: none; @include transition(all 0.4s ease-in-out 0s);
		&:hover,
		&.active { color: #fff; }
	}
	.footer-menu { float: right;
		li { display: inline; margin: 0px 0px 0px 14px; }
	}
	.copy { float: left; }
	.social { float: left; padding: 12px 0px 0px; @include clearfix;
		a { text-decoration: none; }
		img { float: left; margin: 0px 15px 0px 0px; @include opacity(0.5); @include transition(all 0.4s ease-in-out 0s);
			&:hover { @include opacity(1); }
		}
	}
}


/* ==========================================================================
   Main Page
   ========================================================================== */

.main-banner { padding: 140px 0px 70px; background: #d98921 url(../img/wood.png); @include box-shadow(0px 0px 110px rgba(0, 0, 0, 0.3) inset);
	.quote { font-family: $lora; font-size: 4.166667em /*50/12*/; font-style: italic; text-align: center; background: url(../img/main-banner-top.png) no-repeat 50% 0%; color: #fff; text-shadow: 0 1px 0 #808080, 0 2px 0 #666666, 0 3px 1px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.3), -2px 10px 10px rgba(0, 0, 0, 0.35);  @include clearfix;
		> div { padding: 80px 0px 40px; background: url(../img/main-banner-bottom.png) no-repeat 50% 100%; }
	}
}

.advantages-banners { background: #fff; border-bottom: solid 2px #fff; padding: 30px 0px 20px; margin: 0px 0px 3em;
	.before-footer & { margin: 2em 0px -5em; }

	.ban { float: left; width: 25%;
		> div { padding: 0px 25px 30px; }
	}
	.icon { width: 80px; height: 80px; margin: 0px auto; text-align: center; line-height: 80px; background: #3f3f3f; @include border-radius(50%);
		img { vertical-align: middle; position: relative; top: -2px; }
	}
	.caption { text-align: center; padding: 15px 0px 0px; font-size: 1.5em /*18/12*/; line-height: 1.3; font-style: italic; }
}


/* ==========================================================================
   Services
   ========================================================================== */

.services-grid { @include clearfix;
	.col { float: left; width: 33.333333%;
		> div { padding: 0px 15px 30px; }
	}
}

.service-card { position: relative;
	a { height: 260px; display: block; overflow: hidden; position: relative; text-decoration: none; color: #fff;
		&:hover {
			.caption { bottom: 0px; }
		}
	}
	span { display: block; }
	.photo {
		img { display: block; width: 100%; }
	}
	.caption { color: #fff; width: 100%; position: absolute; left: 0px; bottom: -20px; padding: 0px 0px 20px; text-align: center; background: #333; font-size: 1.5em /*18/12*/; font-style: italic;  @include transition(all 0.2s ease-in-out 0s);
		> span { padding: 15px 20px; }
		.line-top { background: url(../img/service-line-top.png) no-repeat 50% 0%; }
		.line-bottom { background: url(../img/service-line-bot.png) no-repeat 50% 100%; padding: 20px 0px 25px; }
	}
}

.service-big-pic {  margin: 0px 0px 2em; @include clearfix;
	img { display: block; width: 100%; }
}