/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 960px) {
    
    /* здесь стили */
   
}

@media only screen and (max-width: 1200px) {
    
    /* здесь стили */
   
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    
    /* здесь стили */
   
}


/* ============================================================================= */

@media only screen and (max-width: 960px) {

	.site-header { background: #000; height: auto; position: relative;
		.logo, .phone { line-height: 60px; }
		.phone { float: right; margin-left: 0px; }
		.main-menu { padding: 5px 0px; clear: both; float: none; text-align: center; border-top: double 3px rgba(255,255,255,0.5);
			li { float: none; display: inline; }
			a { float: none; display: inline; line-height: 30px; }
			.line { display: none; }
		}
	}

	.main-banner { padding: 20px 10px;
		.quote { font-size: 3em; }
	}

	.title-page { padding-top: 20px; }

	.advantages-banners {
		.ban { width: 50%; }
		.temp-clear { height: 0px; overflow: hidden; clear: both; }
	}

	.services-grid {
		.col { float: left; width: 50%; }
	}

}

@media only screen and (max-width: 620px) {

	.site-footer {
		.footer-menu { float: none; text-align: center; clear: both; line-height: 30px; padding-bottom: 10px;
			li { margin: 0px 7px; }
		}
		.copy { float: right; }
	}

	.advantages-banners {
		.ban { width: auto; float: none; }
	}

	.services-grid {
		.col { float: none; width: auto; }
	}

	.records-nav {
		.prev, .next { width: 100%; padding-bottom: 5px; }
	}

}

@media only screen and (max-width: 460px) {

	.site-header {
		.logo, .phone { float: none; text-align: center; clear: both; line-height: 50px; }
	}

	.main-banner {
		.quote { font-size: 2em; }
	}

	.title-page h1 { font-size: 2em; }
}


