/* ==========================================================================
   Mixin
   ========================================================================== */

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; 
        display: table;
    }
    &:after {
        clear: both;
    }
}

/* ==========================================================================
   CSS3
   ========================================================================== */

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
    -moz-box-sizing: $value;
    box-sizing: $value;
}

@mixin linear-gradient($fromColor, $toColor) {
    background-color: $toColor; // Fallback Color 
    background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); // Saf4+, Chrome 
    background-image: -webkit-linear-gradient(top, $fromColor, $toColor); // Chrome 10+, Saf5.1+, iOS 5+ 
    background-image:    -moz-linear-gradient(top, $fromColor, $toColor); // FF3.6 
    background-image:     -ms-linear-gradient(top, $fromColor, $toColor); // IE10 
    background-image:      -o-linear-gradient(top, $fromColor, $toColor); // Opera 11.10+ 
    background-image:         linear-gradient(top, $fromColor, $toColor);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin opacity($value) {
    $value2: $value*100;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=$value2);
    -moz-opacity: $value;
    -khtml-opacity: $value;
    opacity: $value;
    zoom: 1;
}

@mixin transition($value...) {
	@if length($value) == 0 {
		$value: all 0.3s ease-in-out
	}
    -webkit-transition: $value;
    -moz-transition: $value;
    -ms-transition: $value;
    -o-transition: $value;
    transition: $value;
}

@mixin transform ($value) {
	-moz-transform: $value; 
	-ms-transform: $value;
	-webkit-transform: $value;
	-o-transform: $value;
	transform: $value;
}

/* ==========================================================================
   Addl
   ========================================================================== */

@mixin dashed-link($color) {
	text-decoration: none;
	color: $color;
	border-bottom: dashed 1px $color;
	&:hover { text-decoration: none; }
}

@mixin nounderline-link() {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}



/* ==========================================================================
   Style mixins
   ========================================================================== */
  





