/* ==========================================================================
   Opinionated defaults
   ========================================================================== */

html { font-size: 1em; line-height: 1.4; }
html, body { height: 100%; }
* { padding: 0px; margin: 0px; }
img { border: none; }
ul { list-style: none; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
textarea { resize: vertical; }
fieldset { border: 0; margin: 0; padding: 0; }
audio, canvas, img, video { vertical-align: middle; }
.browsehappy { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }
::-moz-selection { background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }
