/* ==========================================================================
   Partials
   ========================================================================== */

/* Titles */
.title-section { background: url(../img/title-top.png) no-repeat 50% 0%; text-align: center; font-style: italic; font-family: $lora; margin: 0px 0px 2em;
	> div { padding: 25px 0px 15px; background: url(../img/title-bottom.png) no-repeat 50% 100%; }
	h1, h2, h3, h4 { padding: 0px; margin: 0px; font-size: 24px;  }
}

.title-page { padding: 120px 0px 30px; background: #d98921 url(../img/wood.png); @include box-shadow(0px 0px 110px rgba(0, 0, 0, 0.3) inset, 0px 1px 2px rgba(0,0,0,0.3)); position: relative;
	h1 { font-family: $lora; font-weight: normal; font-size: 3.333333em /*40/12*/; font-style: italic; text-align: center; color: #fff; text-shadow: 0 1px 0 #808080, 0 2px 0 #666666, 0 3px 1px rgba(0, 0, 0, 0.25), 0 4px 6px rgba(0, 0, 0, 0.3), -2px 10px 10px rgba(0, 0, 0, 0.35); margin: 0px; padding: 0px; }
}

/* Buttons */
.btn { display: inline-block; height: 38px; line-height: 38px; padding: 0px 22px; font-style: italic; font-size: 1.333333em /*16/12*/; background: #e5390d; text-decoration: none; color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);  @include box-shadow(3px 3px 0px #b42c0a);  @include transition(all 0.4s ease-in-out 0s);
	&:hover { @include opacity(0.9); }
}

.center-btn { text-align: center; }


/* Navs */

.crumbs { padding: 7px 0px; color: #999; background: #fff; line-height: 24px; font-size: 1em; @include box-shadow(inset 0px -1px 2px rgba(0,0,0,0.2)); font-style: italic; margin: 0px 0px 2em;
	a { color: #999; }
}

.records-nav { padding: 15px 0px; font-size: 1.5em; font-style: italic; @include clearfix;
	.back { padding: 10px 0px 0px;
		a { color: #666; }
	}
	.prev, .next { width: 45%; color: #e5390d; }
	.prev { float: left; }
	.next { float: right; text-align: right; }
}

/* Others */
