/* ==========================================================================
   Typography
   ========================================================================== */

html, button, input, select, textarea { font-size: 0.75em /*12/16*/; line-height: 1.5; font-family: 'Open Sans', sans-serif; color: $textColor; }

h1, h2, h3, h4, h5, h6 { margin: 0px; }

a { text-decoration: underline; color: #e5390d;
	&:hover { text-decoration: none; }
}

/* Colors */


/* Text Editor Block */
.text-block {
	p { padding: 0px 0px 1em; }
}
