/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */
$textColor: #3F3F3F;

/* Fonts */
$lobster: 'Lobster', cursive;
$lora: 'Lora', serif;
