<!DOCTYPE html>
<html>
<head>
	<title>Demo</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic|Lobster|Lora:400,400italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application", "main", "media", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "jquery-1.8.3.min", "jquery.bxslider.min", "main", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<div class="wrapper-out">
		<%= render 'shared/header' %>
		<%= yield %>
		<%= render 'shared/footer' %>
	</div><!--.wrapper-out-->

</body>
</html>
